* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .principal {
  background-image: url(/media/Pizza.jpg);
  text-align: center;
  width: auto;
  height: 600px;
}
main .principal h1 {
  font-size: 100px;
  font-style: italic;
}
main .principal:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
}
main .principal p {
  font-size: 25px;
  background: linear-gradient(220.55deg, #FFF500 0%, #FFB800 100%);
  margin: 20px;
  border-radius: 20px;
}

footer {
  background-color: #ff9800;
  margin-top: 30px;
}
footer .footercontainer {
  width: 100%;
  padding: 30px 30px 20px;
}
footer .socialicons {
  display: flex;
  justify-content: center;
}
footer .socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: #ff1a00;
  margin: 10px;
  border-radius: 50%;
}
footer .socialicons a:hover {
  background-color: #ff9800;
  transition: 0.5s;
}
footer .socialicons i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
footer .socialicons i:hover {
  color: white;
  transition: 0.5s;
}
footer .footernav {
  margin: 30px 0;
}
footer .footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
footer .footernav a {
  color: #ff1a00;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
footer .footernav a:hover {
  opacity: 7;
  color: #dbf500;
}
footer .footerBottom {
  background-color: #ff1a00;
  padding: 20px;
  text-align: center;
}
footer .footerBottom p {
  color: white;
}
footer .designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  footer .footernav ul {
    flex-direction: column;
  }
  footer .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

#contenedor {
  background-color: rgba(197, 190, 190, 0.7254901961);
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 70%;
}
#contenedor:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
}
#contenedor #texto {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  background-color: #ff9800;
  color: #ff1d04;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
#contenedor #texto:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
}
#contenedor #mapa {
  position: center;
  width: 100%;
  padding: 10px;
  margin: 30px;
}

.imagen {
  position: center;
  width: 100%;
  height: 700px;
}

@media (max-width: 300px) {
  header {
    flex-direction: column;
  }
}
header {
  background-color: #ff9800;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px;
  flex-direction: row;
}
header .logo {
  cursor: pointer;
  margin-right: auto;
  margin-left: 20px;
}
header img {
  height: 60px;
  width: auto;
  transition: all 0.3s;
}
header img:hover {
  transform: scale(1.2);
}
header nav-links {
  list-style: none;
}
header li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
header li:hover {
  transform: scale(1.1);
}
header a {
  font-size: 22px;
  color: #ff1d04;
  text-decoration: none;
}
header a:hover {
  color: #dbf500;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
}
main .tarjetas {
  width: 300px;
  padding: 20px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 3px;
  margin-top: 20px;
  transition: box-shadow 0, 3s ease-in-out;
}
main .tarjetas:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
}
main img {
  width: 100%;
  height: fit-content;
}
main .imagen01 {
  width: 100%;
  height: 400px;
}
main .container {
  padding-top: 30px;
  border: solid;
  margin-top: 20px;
  width: 70%;
}
main .contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 4fr;
  gap: 20px;
}
main .contenedormenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
main .card {
  margin-top: 20px;
  border-radius: 2px;
  min-height: 200px;
  font-weight: bold;
  padding: 15px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
main .card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
}
main .textos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(248, 148, 16);
  background-color: rgba(204, 204, 204, 0.8);
  text-shadow: 2px 2px black;
  font-size: 20px;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
}

/*# sourceMappingURL=style.css.map */
