main{
    .principal{background-image: url(/media/Pizza.jpg);
        text-align: center;
        width: auto;
        height: 600px;
        
        h1{
            font-size: 100px;
            font-style: italic;
        }
        
        &:hover{
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.993);
        }
        p{
            font-size: 25px;
            background: linear-gradient(220.55deg, #FFF500 0%, #FFB800 100%);
            margin: 20px;
            border-radius: 20px;

        }
       
}
}